/*
=====================================
FONTS
=====================================
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Otomanopee+One&display=swap");
/*
=====================================
VARIABLES
=====================================
*/
:root {
  --primaryColor: rgb(97, 97, 223);
  --primaryColorLigth: rgb(155, 155, 204);
  --grey1: rgb(58, 58, 58);
  --grey5: rgb(130, 130, 130);
  --grey10: rgb(236, 234, 242);
  --white: white;
  --fontPrimary: "Open Sans", sans-serif;
  --fontSecondary: "Otomanopee One", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/*
=================================================================
GLOBAL STYLES (PARA SOBREESCRIBIR DEFAULT STYLES DE NAVEGADORES)
=================================================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--fontPrimary);
  background-color: var(--white);
  color: var(--grey1);
  line-height: 1.5rem;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
/*
=================================================================
PHONE STYLES (PARA SOBREESCRIBIR STYLES DE NAVEGADORES)
=================================================================
*/
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font: size 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.btn {
  text-transform: lowercase;
  background: var(--primaryColor);
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer; /*para cambiar el icono del cursor*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--grey1);
  background: var(--primaryColorLigth);
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
} /*para separar los skills de demas contenidos*/
.banner-btn {
  outline: 0.125rem solid var(--primaryColor);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  animation: show 5s linear 1;
}
.section-title h3 {
  font-family: var(--fontSecondary);
  color: var(--primaryColor);
}
.section-title {
  margin-bottom: 2rem;
}
.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
/*
=================================================================
ANIMATTRIX ( KEYFRAMES es la funcion BOUNCE es el nombre)
=================================================================
*/
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*
=================================================================
NAVBAR
=================================================================
*/
.nav-btn {
  position: fixed;
  top: 5%;
  left: 5%;
  font-size: 2.5rem;
  color: var(--primaryColor);
  z-index: 1;
  cursor: pointer;
  animation: bounce 2s ease infinite;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey10);
  z-index: 2;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}
.showNav {
  transform: translate(0);
}
.navbar-header {
  text-align: right;
  padding-right: 1rem;
}
.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(213, 86, 86);
  transition: var(--transition);
}
.nav-close:hover {
  color: red;
}
.nav-items {
  list-style-type: none;
}
.nav-link {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--grey5);
  transition: var(--transition);
}
.nav-link:hover {
  background: var(--primaryColorLigth);
  color: var(--primaryColor);
  padding-left: 1.5rem;
  border-left: 0.25rem solid var(--primaryColor);
}
@media screen and (min-width: 520px) {
  .navbar {
    width: 30vw;
    max-width: 20rem;
  }
}
/*
=================================================================
HEADER
=================================================================
*/
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    /*DATA IMPORTANTE: LINEAR GRADIENT ES UNA <<<<TRANSICION>>> ENTRE DOS COLORES, EN NUESTRO CASO USAMOS DOS COLORES IGUALES (NEGRO)
  PARA QUE TODA LA PAGINA SE VEA IGUAL, SOLO QUEREMOS LA OPACIDAD*/
      url("../images/background\ x.jpeg") center/cover no-repeat fixed;
  position: relative;
  /*Animation*/
  overflow-x: hidden; /*para esconder exceso de contenido*/
}
.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--fontSecondary);
  color: var(--primaryColor);
  font-style: italic;
  animation: slideFromRight 5s ease-in-out 1;
}
.banner h1 {
  text-transform: uppercase;
  color: var(--white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  animation: slideFromLeft 5s ease-in-out 1;
}
/*content divider*/
.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--primaryColor),
    green,
    var(--primaryColor)
  );
}
/*
=================================================================
SKILLS
=================================================================
*/
.skills {
  background: var(--grey10);
}
.skill {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}
.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
  display: inline-block; /*por ser un span, necesitamos cambiar a inlineblock para que el margen 
  y otras caracteristicas tengan efecto*/
  color: var(--primaryColor);
}
.skill-text {
  color: var(--grey5);
  max-width: 17rem;
  margin: 0 auto;
}
.skill:hover {
  background: var(--white);
  box-shadow: 0 2px var(--primaryColor);
}
.skill:hover .skill-icon {
  transform: translateY(-5px);
}

@media screen and (min-width: 800px) {
  .skill {
    float: left;
    width: 25%;
  }
}
/* @media screen and (min-width: 1200px) {
  .skill {
    float: left;
    width: 25%;
  }
} ; */
/*
=================================================================
ABOUT SECTION
=================================================================
*/
.about-img,
.about-info {
  padding: 2rem 0;
}
.about-picture-container {
  background: var(--primaryColor);
  border: 0.5rem solid var(--primaryColor);
  max-width: 30rem;
  overflow: hidden;
}
.about-picture {
  transition: var(--transition);
}
.about-picture-container:hover .about-picture {
  opacity: 0.5;
  transform: scale(1.2);
}
.about-text {
  max-width: 26rem;
  color: var(--grey5);
}
@media screen and (min-width: 992px) {
  .about-img,
  .about-info {
    float: left;
    width: 50%;
  }
  .about-info {
    padding-left: 2rem;
  }
}

/*
=================================================================
PRODUCTS SECTION
=================================================================
*/
.products {
  background: var(--grey10);
}
.products article {
  padding: 2rem 0;
}
.products-text {
  color: var(--grey5);
  max-width: 26rem;
}
.product {
  margin-bottom: 2rem;
}
.product-img {
  border-radius: var(--radius);
  margin-bottom: 2rem;
  height: 17rem;
  object-fit: cover;
}
.product-price {
  color: var(--primaryColor);
}
@media screen and (min-width: 768px) {
  .product {
    float: left;
    width: 50%;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .product {
    width: 33.3%;
  }
}
@media screen and (min-width: 1200px) {
  .products-info {
    width: 30%;
    float: left;
  }
  .products-inventory {
    width: 70%;
    float: left;
  }
  .product {
    margin-bottom: 0;
    padding: 0 1rem;
  }
}
/*
=================================================================
SERVICES SECTION
=================================================================
*/
.services-title {
  margin-top: 4rem;
  margin-bottom: -4rem;
  text-align: center;
}
.service-card {
  margin: 2rem 0;
  background: var(--grey10);
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
.service-card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.service-img {
  height: 17rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.service-info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
}
.service-info p {
  max-width: 20rem;
  color: var(--grey5);
  margin: 0 auto;
}
.service-btn {
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 0.375rem 0.5rem;
  border-radius: var(--radius);
  font-weight: 400;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .service-card {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .service-card {
    width: 30%;
    margin-right: 3.333%;
  }
}
.service-img-container {
  position: relative;
}
.service-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 2rem;
  color: var(--primaryColor);
  background: var(--primaryColorLigth);
  padding: 0.5rem 0.6rem;
  border-radius: 50%;

  transform: translate(-50%, 50%);
  border: 0.375rem solid var(--grey10);
}
/*
=================================================================
CONTACT SECTION
=================================================================
*/
.contact {
  background: var(--grey10);
}
.contact-form,
.contact-info {
  margin: 1rem 0;
}
.contact-item {
  margin-bottom: 1.75rem;
}
.contact-title {
  color: var(--primaryColor);
  font-weight: 400;
}
.contact-text {
  text-transform: uppercase;
}
.contact-form {
  background: var(--white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--grey5);
}
.form-group {
  padding: 1rem 1.5rem;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: var(--grey10);
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.form-control::placeholder {
  font-family: var(--fontPrimary);
  color: var(--grey1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}
/*
=================================================================
FOOTER SECTION
=================================================================
*/
.footer {
  background: #222;
  text-align: center;
}
.social-icon {
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--primaryColor);
}
.footer-text {
  margin-top: 1.25rem;
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
}
.company {
  color: var(--primaryColor);
}
